{% extends "common/home.twig" %}

{% block title %}Cadastro{% endblock %}

{% block content %}
  <main class="container py-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Início</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/">Minha conta</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Cadastre-se
        </li>
      </ol>
    </nav>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header border-0 bg-light">
            <h5 class="card-title">Crie sua conta</h5>
            <p>
              Se você já tem uma conta em nossa loja, acesse sua conta
              <a href="/account/login">clicando aqui.</a>
            </p>
          </div>
          <div class="card-body">
            <h5 class="card-title">Dados pessoais</h5>
            <form action="/costumer/register" method="post">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <input
                    type="text"
                    class="form-input form-control"
                    id="firstname"
                    placeholder="Nome"
                    name="firstname"
                  />
                  {% if firstnameError is not empty %}
                    <div class="error-message">{{ firstnameError }}</div>
                  {% endif %}
                </div>
                <div class="col-md-6 mb-3">
                  <input
                    type="text"
                    class="form-input form-control"
                    id="lastname"
                    placeholder="Sobrenome"
                    name="lastname"
                  />
                  {% if lastnameError is not empty %}
                    <div class="error-message">{{ lastnameError }}</div>
                  {% endif %}
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <input
                    type="email"
                    class="form-input form-control"
                    id="email"
                    placeholder="E-mail"
                    name="email"
                  />
                  {% if emailError is not empty %}
                    <div class="error-message">{{ emailError }}</div>
                  {% endif %}
                </div>
                <div class="col-md-6 mb-3">
                  <input
                    type="tel"
                    class="form-input form-control"
                    id="telephone"
                    name="telephone"
                    placeholder="Digite seu telefone"
                  />
                  {% if telephoneError is not empty %}
                    <div class="error-message">{{ telephoneError }}</div>
                  {% endif %}
                </div>
              </div>
              <div>
                <h5>Sua senha de acesso</h5>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <input
                      type="password"
                      class="form-input form-control"
                      id="password"
                      name="password"
                      placeholder="Senha"
                    />
                    {% if passwordError is not empty %}
                      <div class="error-message">{{ passwordError }}</div>
                    {% endif %}
                  </div>
                  <div class="col-md-6 mb-3">
                    <input
                      type="password"
                      class="form-input form-control"
                      id="confirm-password"
                      name="confirm-password"
                      placeholder="Repetir a senha"
                    />
                  </div>
                    {% if passwordError is not empty %}
                      <div class="error-message">{{ passwordError }}</div>
                    {% endif %}
                </div>
              </div>
              <div class="mb-3">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="newsletter"
                  name="newsletter"
                />
                <label for="newsletter" class="form-label">
                  Eu li e concordo com o contrato de
                  <a href=""> Termos e condições </a>
                </label>
              </div>
              <div class="d-grid">
                <button
                  type="submit"
                  class="btn btn-dark text-uppercase"
                  {% if error is not empty %}disabled{% endif %}
                >
                  Criar conta
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
