{% extends "common/home.twig" %}

{% block title %}Seller{% endblock %}

{% block content %}
	<div class="container pt-2 mb-5">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="#">Início</a>
				</li>
				<li class="breadcrumb-item">
					<a href="#">Minha conta</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					Área do Vendedor
				</li>
			</ol>
		</nav>
		<div class="row">
			<div name="left-menu-area" class="col-md-3">
				{{ left_menu |raw }}
			</div>
			<div name="right-card-area" class="col-md-9">
				<div class="card">
					<div class="card-body">
						<div name="title-area" class="col-md-12 mb-3">
							<h5>Área do Vendedor</h5>
						</div>
						<div name="tab-area" class="col-md-12 mb-3">
							<ul class="nav nav-tabs">
								{% for tab in tabs %}
									<li class="nav-item">
										<a {% if selected_tab == loop.index %} aria-current="page" class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ tab.link }}">
											{{ tab.label }}
										</a>
									</li>
								{% endfor %}
							</ul>
						</div>
						{{ tabBody |raw }}
					</div>
				</div>
			</div>
		</div>
		<div name="footer">
			{{ footer |raw }}
		</div>
	</div>
{% endblock %}
