<div name="balance-area" class="col-md-12 mb-3">
	<div class="mb-3">
		<a class="btn btn-dark" href="/account/seller/bankaccount/add">
			ADICIONAR CONTA BANCARIA
		</a>
	</div>
	<div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Banco</th>
					<th scope="col">Tipo de Conta</th>
					<th scope="col">Agência</th>
					<th scope="col">Conta</th>
					<th scope="col">Opções</th>
				</tr>
			</thead>
			<p>
			{{ account_infos[0]['type'] }}
			</p>
			<tbody>
				{% for account_info in account_infos %}
					<tr>
						<td scope="row">{{ account_info.bank_account_id }}</td>
						<td>{{ account_info.type }}</td>
						<td>{{ account_info.agency }}</td>
						<td>{{ account_info.account }}</td>
						<td>
							<div class="d-flex justify-content-around">
								<button
									data-bs-toggle="tooltip"
									data-bs-placement="top"
									data-bs-title="Tooltip on top"
									style="height: 37px;"
									type="button"
									class="btn btn-dark"
								>
									<i class="fa-sharp fa-solid fa-pen"></i>
								</button>
								<button type="button" class="btn btn-dark">
									<i class="fa-solid fa-trash"></i>
								</button>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
